.navigation{
  background:#1f1f1f;
  color:white;

  min-height: 10vh;
}

h1, h2, h3, h4, p{
  margin: 0vh;
  padding: 0vh;
  font-family: Arial, Helvetica, sans-serif;

}

h1{
  position: absolute;
  font-size: 7vh;

  margin-top: 5vh;
  margin-right: 120vh;
  margin-left: 3vw;
}


#title{
  position: absolute;
  margin-top: 3vh;
  margin-left: 2vw;
  font-size: 3vh;
}

#manageProfileBtn{
  position: relative;
  float: right;
  font-size: 1.8vh;
  padding: 8px;
  margin-top: 2.5vh;
  margin-right: 2vw;
}


#signOutBtn{
  position: relative;
  float: right;
  font-size: 1.8vh;
  padding: 8px;
  margin-top: 2.5vh;
  margin-right: 2vw;
}

.infoNav{
  padding:1.5vh;
  padding-left: 4vh;
  background-color: rgb(199, 255, 236);
  display:flex;
  justify-content: space-between;
}

#ajaxRequest{
  background-color:rgb(241, 241, 241);
  margin: 5vh;
  max-width: 70vw;
}

