<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="navigation">
    <p id="title">Lukas Kristensen TWSM Mini-Project</p>
    <button id="signOutBtn"  routerLink="/login-component" routerLinkActive="active">Sign out</button>
    <button id="manageProfileBtn">Manage Profile</button>
  </div>
  <div class="content"></div>
    <div id="portfolio"></div>
    <br>
    <p>Username: {{uData[0]["userName"]}}</p>
    <br>
    <p>Portfolio: {{uData[0]["portfolio"]}}</p>
    <br>

      <button>Add New Position</button>
      <button>Configure Portfolio</button>
  <div class="footer"></div>


</body>
</html>
