.navigation{
  background:#1f1f1f;
  color:white;

  min-height: 10vh;
}

h1, h2, h3, h4{
  margin: 0vh;
  padding: 0vh;
}

h1{
  position: absolute;
  font-size: 7vh;

  margin-top: 5vh;
  margin-right: 120vh;
  margin-left: 3vw;
}

.pageContent, body{
  padding: 0vh;
  margin: 0vh;
  border: 0vh;


  background:rgb(255, 255, 255);
  color: #1f1f1f;
  font-family: Georgia, 'Times New Roman', Times, serif;

  min-height: 100vh;
}

#loginForm{
  color:black;
  font-family: Arial, Helvetica, sans-serif;

  margin-top: 12vh;
  margin-left: 57vw;
  margin-right: 13vw;
  min-height: 65vh;
  background-color: #e3e9f5;
  border-radius: 1vh;

}

h2{
  font-size: 4vh;
}

#loginForm h2, p{
  color:#1f1f1f;
  text-align: center;
  padding: 2vh;
}

#loginForm form{
  margin-left: 10vh;
  margin-top: 3vh;
}

#loginForm form input{
  margin-top: 1vh;


}

#loginForm form button{
  margin-top: 3vh;
  margin-left: 15vh;
}

#underlinedLink{
  font-size: 2vh;
  color:#1f1f1f;
  padding-left: 15vh;
  text-decoration: underline;
}

#landingFigure{
  position: absolute;
  margin-top: 50vh;
  margin-left: 40vh;
  height: 40vh;
}
