.navigation{
  background:#1f1f1f;
  color:white;

  min-height: 10vh;
}

h1, h2, h3, h4{
  margin: 0vh;
  padding: 0vh;
}

h1{
  position: absolute;
  font-size: 7vh;

  margin-top: 5vh;
  margin-right: 120vh;
  margin-left: 3vw;
}

.pageContent, body{
  padding: 0vh;
  margin: 0vh;
  border: 0vh;


  background:rgb(255, 255, 255);
  color: #1f1f1f;
  font-family: Georgia, 'Times New Roman', Times, serif;

  min-height: 100vh;
}

#loginForm{
  color:black;

  margin-top: 15vh;
  margin-left: 55vw;
  margin-right: 15vw;
  min-height: 60vh;
  background-color: rgb(241, 241, 241);
  border-radius: 1vh;
  border-width: 1vh;
  border: 0.5vh solid;
  border-color: #1f1f1f;

}


h2{
  font-size: 5vh;
}

#loginForm h2, p{
  text-align: center;
  padding: 2vh;
}

#loginForm form{
  margin-left: 10vh;
  margin-top: 3vh;
}

#loginForm form input{
  margin-top: 1vh;

}

#loginForm form button{
  margin-top: 3vh;
  margin-left: 15vh;
}

#underlinedLink{
  font-size: 2vh;
  color:black;
  padding-left: 15vh;
  text-decoration: underline;
}
