<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="pageContent">
    <div id="navigation">
      <br>
      <h1>Portfolio Manager</h1>
    </div>

    <div id="loginForm">
      <h2>Login</h2>
      <form>
        Username:
        <input type="text">
        <br>
        Password:
        <input type="password">
        <br>
        <button>Log-in</button>
      </form>

      <a id="underlinedLink" href="submit">Not a member yet? Register here</a>
    </div>
  </div>
</body>
</html>
