<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="pageContent">
    <div id="navigation">
      <br>
      <h1>Optimize Your Portfolio Strategy with Machine Learning</h1>
    </div>
    <img src="https://lukaskristensen.github.io/TWSM_LandingFigure.png" alt="test" id="landingFigure">

    <div class="loginForm">
      <h2>Login</h2>
      <div id="loginFormDiv">
        <a id="emailText"> Email: </a>
        <input id="emailInput" type="text">
        <br>
        Password:
        <input id="passwordInput" type="password">
        <br>
        <p id="debugStatus"></p>
        <p id="feedbackStatus"></p>
        <button class="formsBtn" id="loginBtn" (click)="login()">Log-in</button>
    </div>
    <!-- To-do: Encrypt data on .sendToServer() -->
    <button class="formsBtn" id="margineSignup" (click)="signUp()">Create Account</button>
    <button class="formsBtn" id="signUp">Continue as Guest</button>
    </div>
</div>
</body>
</html>
