.navigation{
  background:#1f1f1f;
  color:white;

  min-height: 10vh;
}

h1, h2, h3, h4{
  margin: 0vh;
  padding: 0vh;
}

h1{
  position: absolute;
  font-size: 7vh;

  margin-top: 5vh;
  margin-right: 120vh;
  margin-left: 3vw;
}

.pageContent, body{
  padding: 0vh;
  margin: 0vh;
  border: 0vh;


  background:rgb(255, 255, 255);
  color: #1f1f1f;
  font-family: Georgia, 'Times New Roman', Times, serif;

  min-height: 100vh;
}

.loginForm{
  color:black;
  font-family: Arial, Helvetica, sans-serif;

  margin-top: 22vh;
  margin-left: 60vw;
  margin-right: 10vw;
  min-height: 47vh;
  min-width: 29vw;

  box-shadow: 0vh 0vh 1vh #aaaaaa;
  /*  background-color: #e3e9f5;    e7e8e9*/
  background-color: #e7e8e9;
  border-radius: 2vh;

}


h2{
  font-size: 3vh;
}

#loginFormDiv{
  margin-left: 10vh;
  margin-top: 3vh;
  font-size: 2vh;
  outline: none;
}

.loginForm h2, p{
  color:#1f1f1f;
  text-align: center;
  padding: 2vh;
}

.loginForm input{
  margin-top: 1vh;
  min-height: 3vh;
  min-width: 15vw;
  font-size: 2vh;

  border-radius: 1vh;
  border-width: 0.1vh;
  border-color: rgb(153, 153, 153);
  border-style: solid;

}

#loginBtn{
  margin-top: 7vh;
  margin-left: 10vh;
}

.loginForm input, :focus{
  outline: none;
}

#underlinedLink{
  font-size: 2vh;
  color:#1f1f1f;
  padding-left: 15vh;
  text-decoration: underline;
}

#landingFigure{
  position: absolute;
  margin-top: 45vh;
  margin-left: 40vh;
  height: 45vh;
}

#emailText{
  margin-left: 4vh;
}

.formsBtn{
  display: inline-block;
  margin: 0vw;
  margin-left: 2vw;
  margin-top: 8vh;
  padding: 1vh;

  font-size: 2vh;
  min-height: 5vh;
  min-width: 3vw;
  border-style: solid;
  border-radius: 1vh;
  border-width: 0.1vh;
  border-color: rgb(153, 153, 153);

  background-color: white;
  color: #1f1f1f;
}

.formsBtn:hover{
  cursor: pointer;
}

#margineSignup{
  margin-left:3vh;
}

#signUp{
  margin-top: 5vh;
  margin-left: 11vw;
}

#debugStatus{
  position:absolute;
  margin: 0vh;
  margin-left:1vh;
  min-width: 35vh;
  color:crimson;
}

#feedbackStatus{
  position:absolute;
  margin: 0vh;
  margin-left:1vh;
  min-width: 35vh;
  color:green;
}

::selection{
  background-color:#aaaaaa;
}
